
DISCORD_TOKEN=your_discord_bot_token_here

DB_USER=pierceai_bot
DB_PASSWORD=
DB_PORT=5432
DB_NAME=pierceai_bot_db

DATABASE_URL=postgresql+asyncpg://${DB_USER}:${DB_PASSWORD}@db:${DB_PORT}/${DB_NAME}
